.banner {
    width: 100%;
    height: 36vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.banner__sobre {
    color: var(--cor-texto-vermelho);
    font-weight: 600;
    font-size: 20px;
}

.banner__titulo {
    color: var(--cor-fonte);
    font-size: 60px;
    font-weight: 600;
    margin: 2rem;
}

.banner__texto {
    color: var(--cinza-fonte);
    font-size: 24px;
}