.metricas {
    padding: 0 9rem 6rem 9rem;
    display: flex;
    justify-content: space-between;
}

.metricas__bloco {
    width: 400px;
}

.metricas__bloco__titulo {
    color: var(--cor-texto-vermelho);
    font-size: 60px;
    font-weight: 600;
}

.metricas__bloco__subtitulo {
    color: var(--cor-fonte);
    font-size: 20px;
    font-weight: 500;
    margin: 1.5rem 0;
}

.metricas__bloco__texto {
    color: var(--cinza-fonte);
    font-size: 18px;
}